<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <nav class="bg-blue-500 text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{% url 'home' %}" class="text-xl font-bold">Social</a>

            <div class="flex items-center space-x-4">
                {% if user.is_authenticated %}
                    <a class="hover:text-blue-200">{{ user.username }}</a>
                    <a href="{% url 'logout' %}" class="hover:text-blue-200">Log Out</a>
                {% else %}
                    <a a href="{% url 'login' %}" class="hover:text-blue-200">Login</a>
                    <a href="{% url 'register' %}" class="hover:text-blue-200">Sign Up</a>
                {% endif %}
            </div>
            
        </div>
    </nav>

    <main class="container mx-auto mt-4 p-4">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>